#bỏ qua các file thực thi
*.exe
#bỏ qua các file cấu hình của vscode
*.json
#bỏ qua chính file gitignore
*.gitignore
#bỏ qua các file chạy test
*.bin
#bỏ qua các file unit testing
*tempCodeRunnerFile.cpp